:root {
  --background-color: #06908f;
  --heading-color: #fa0107;
  --accent-color: #fbff12;
  --body-text-color: #000000;

  --heading-font: "Montserrat", serif;
  --body-font: "Raleway", serif;
}

body {
  /* background-color: var(--background-color); */
  font-family: var(--body-font);
  overflow-x: hidden;
  max-width: 80rem;
  width: 100%;
  margin: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  max-width: 100%;
  height: auto;
}

header {
  background-color: var(--body-text-color);
  height: auto;
  display: flex;
  width: 100%;
}

nav {
  width: 100%;
}

#trygram {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: right;
  padding: 0.25rem 2vw;
  visibility: visible;
}

ul.menu-navs li a {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 0.75rem 2vw;
  color: white;
  padding: 10px;
  font-weight: 700;
}

ul.menu-navs {
  list-style: none;
}

#trygram::before {
  content: "\2630";
  color: white;
}

#trygram.show::before {
  content: "X";
  color: white;
}

nav {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  background-color: rgb(35, 40, 40);
}

nav ul {
  overflow: hidden;
}

nav.show {
  grid-template-rows: 1fr;
}

nav ul li a.active {
  text-decoration: underline;
  color: yellow;
}

nav ul li a:hover {
  background-color: rgb(26, 27, 27);
  border-radius: 6px;
}

.hero-items h1 {
  font-family: var(--heading-font);
  position: absolute;
  top: 20%;
  background-color: rgba(4, 4, 4, 0.8);
  padding: 0.9rem;
  font-size: 3.2rem;
  width: 100%;
  max-width: 400px;
  color: beige;
}

.hero-items {
  position: relative;
  width: 100%;
  height: auto;
}

.hero-items span {
  color: gold;
}

.events-sec h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
  text-align: center;
  background-color: var(--body-text-color);
  color: var(--heading-color);
  padding: 10px;
  border-radius: 40px;
  width: 100%;
}

.events-card {
  background-color: antiquewhite;
  text-align: center;
  padding: 0.75rem;
  max-width: 400px;
  width: 100%;
  margin: 0 auto 1rem;
  border-radius: 5px;
  box-shadow: 0 8px 5px black;
}

.events-card h3 {
  font-family: var(--heading-font);
}

.events-card .openDialog {
  padding: 0.75rem;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 5px;
}

.events-container {
  display: grid;
  grid-template-columns: 1fr;
}

dialog {
  margin: auto;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  background-color: bisque;
  max-width: 60em;
  border-radius: 10px;
}

dialog p {
  text-align: left;
  padding: 1em;
}

.events-card .closeDialog {
  padding: 0.75rem;
  width: 100%;
  max-width: 100px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px 0 10px;
  margin-bottom: 0.5rem;
}

dialog::backdrop {
  background-color: rgba(4, 4, 4, 0.8);
  animation: fadein 0.9s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 44rem) {
  nav {
    width: 100%;
  }

  #nav-animation ul.menu-navs {
    margin-top: -4rem;
    margin-left: 3rem;
  }

  ul.menu-navs li a {
    font-weight: 700;
    font-size: 1.2rem;
  }

  #trygram {
    display: none;
  }

  ul.menu-navs,
  ul.menu-navs.show {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    gap: 4rem;
  }

  nav {
    grid-template-rows: 1fr;
  }

  .hero-items {
    width: 100%;
    height: auto;
  }

  .hero-items h1 {
    font-size: 3.5rem;
    max-width: 500px;
    width: 100%;
    height: auto;
  }

  .events-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
  }

  .events-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
  }
}
